<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="QA system, curator">
    <meta name="description" content="QA system about Art, or AI curator">
    <meta name="author" content="Hitoshi Wada">
    <meta property="og:title" content="<%= title %>"/>
    <meta property="og:image" content="http://54.238.51.103/images/davinch_ori.jpg"/>
    <meta property="og:url" content="http://54.238.51.103/">
    <meta property="og:image:type" content="image/png">
    <meta property="og:description" content="QA system about Art, or AI curator"/>

    <title><%= title %></title>
    <% include js.ejs %>
    <script type="text/javascript" src="lib/jquery-tmpl/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="lib/jquery-dateFormat/dist/jquery-dateFormat.min.js"></script>
    <script type="text/javascript" src="lib/underscore/underscore-min.js"></script>
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/arrow_box.css" rel="stylesheet">
    <style>
        body {
            padding-top: 100px;
        }

        #answer {
            height: 100px;
            width: 400px;
            background-color: #c2e1f5;;
            border: none;
        }
        .example{
            padding:20px;
        }
        .form-group > *{
            margin-top: 10px;
        }
        #img-holder{
            height:217px;
        }
        #img-holder > img{
            height:100%;
        }

        #answer-wrapper {
            display: inline-block;
            padding: 10px;
            border-radius: 10px;
        }
        #answer-wrapper:after{
            content: url("images/davinch.png");
        }
    </style>
</head>
<body>
<% include module/header.ejs %>

<!--<template id="template">-->
    <!--<tr id="${_id}" class="article">-->
        <!--<td>${order}</td>-->
        <!--<td class="score text-right">${score}</td>-->
        <!--<td class="content">-->
            <!--<div class="info"><span>${date}</span></div>-->
            <!--<a href="${link}" class="title" target="_blank">${title}</a><span class="badge media">${media}</span>-->
        <!--</td>-->
        <!--<td>-->
            <!--<button class="btn-graph">Graph</button>-->
        <!--</td>-->
    <!--</tr>-->
<!--</template>-->

<div class="container">
    <div class="row">
        <div class="form-group">
            <div class="col-sm-10">
                <input id="question" class="form-control" type="text"
                       placeholder="ex. What is capital of Italy?"/>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary" id="btn-query">Query</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 example">
            <p>Example:</p>
            <ul>
                <li>What is capital of France?</li>
                <li>What is the speed of light?</li>
                <li>Who is the creator of mona lisa?</li>
            </ul>
        </div>
    </div>
    <div class="row text-center">
        
        <div id="answer-wrapper" class="arrow_box">
            <textarea id="answer">Answer</textarea>
        </div>
        <!--<div id="img-holder" class="pull-right">-->
            <!--<img src="images/davinch.jpg" alt="">-->
        <!--</div>-->


    </div>

</div>

<% include module/footer.ejs %>
<script>
    $(function () {
        $("#btn-query").click(function () {
            var q = $("#question").val();
            if(q == ""){
                alert("Please input a question!");
                return;
            }
            $.get("http://54.238.51.103:8080/" + q, {}).done(function (data) {
                $("#answer").val(data);
            });
        });
    });
</script>
</body>
</html>